
*.sqlite
*.json
*.ipch
*.gch
*.xml
*.iml
*.db-wal
*.db-shm
*.db
Offlines/List Offline 1/C++/.vs/C++/v16/.suo
*.exe
*.class
*.class
*.o
Offlines/BST/.clang-format
Offlines/Graph/C++/.clang-format
Offlines/Graph/C++/in.txt
Offlines/Graph/C++/out.txt
Offlines/Graph/C++/in.txt
Offlines/Graph/C++/out.txt
